<div class ="container">
  <h1 class="mb-2">ようこそEmotionDiaryへ</h1>
    <p class="mt-3">すでに登録済みの方はこちら☞<%= link_to "ログイン", user_session_path %></p>
    <p class="mt-3">会員登録がまだの方はこちら☞<%= link_to"新規会員登録",new_user_registration_path %></p>
</div>

