<div class="container">
  <h1 class="mb-2">感情一覧</h1>
    <p><i class="fa-solid fa-plus"></i><%= link_to "感情追加" , new_admin_emotion_path, class:"text-secondary" %></p>
      <table class="table">
        <% @emotions.each do |emotion| %>
        <tbody>
          <tr>
            <td><%= emotion.emotion_name %></th>
            <td><%= link_to "編集する", edit_admin_emotion_path(emotion.id), class:"btn btn-outline-secondary" %></td>
            <td><%= link_to "削除する", admin_emotion_path(emotion.id) , method: :delete, class:"btn btn-outline-danger","data-confirm" => "削除しますか？" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
</div>
