<div class="nested-fields">
  <div class="field">
    <%= image_emotion.select :emotion_id, emotions.map { |emotion| [emotion.emotion_name, emotion.id] } %>
    <%= link_to_remove_association "削除", image_emotion %>
  </div>
</div>