<div class="container">
<h1>カレンダー</h1>
<i class="fas fa-feather"></i>
<%= link_to "今日の記録はここをクリック" , new_diary_path, class:"text-secondary" %>
    <div class = 'calendar'>
      <%= month_calendar events: @diaries do |date, diaries| %>
       　<%= date.day %>
       　<% if diaries.present? %>
           　<div>
           　<i class="fas fa-feather"></i>
           　</div>
             <div>
              <%= link_to "#{diaries.size}件", calendar_detail_path(date.year,date.month,date.day) %>
             </div>
         <% end %>
      <% end %>
    </div>
</div>
