<h1>カレンダー</h1>
<div class = 'calendar'>

  <%= month_calendar events: @diaries do |date, diaries| %>
   　<%= date.day %>
      <div>
       <%= link_to "#{diaries.size}件の日記", calendar_detail_path(date.year,date.month,date.day) %>
      </div>
  <% end %>

</div>
