<h1>カレンダー</h1>
<div class = 'calendar'>

  <%= month_calendar events: @diaries do |date, diary| %>
    <%= date %>

    <% diary.each do |diary| %>
      <div>
        <%= diary.diary_detail %>
      </div>
    <% end %>
  <% end %>
</div>
