<h1>日記詳細</h1>
<%= @diary.diary_detail %>
<% @diary.image_emotions.each do |emotion| %>
  <%= emotion.emotion.emotion_name %>
<% end %>

<% @diary.image.each do |image| %>
<%= image_tag image, size: "100x100" %>
<% end %>
